:root {
    --orange: #FCA311;
    /* color: var(--orange); */
    --blue: #023047;
    /* color: var(--blue); */
    --grey: #E5E5E5;
    /* color: var(--grey); */
    --light-blue: #8ecae6;
    /* color: var(--light-blue); */
    --teal: #219ebc;
    /* color: var(--teal); */
    --white: #FFFFFF;
    /* color: var(--white); */
    --black: #000000;
    /* color: var(--black); */
    --youtube: #FF0000;
    /* color: var(--youtube); */
    --facebook: #4267B2;
    /* color: var(--facebook); */
    --instagram: #fbad50;
    /* color: var(--instagram); */
    --twitter: #1DA1F2;
    /* color: var(--twitter); */
    --AccentTransparent: rgba(241, 241, 241, 0.637);
    /* color: var(--AccentTransparent); */
}

/* General */
.blue-section {
    background-color: var(--blue);
}

.grey-section {
    background-color: var(--grey);
}

/* Navbar */
nav ul a {
    font-size: 20px;
}

a.brand-logo {
    font-size: 36px;
}

nav ul a,
a.brand-logo,
ul h4 {
    color: var(--light-blue);
}

a.brand-logo {
    margin-left: 30px;
}

nav ul a:hover {
    color: var(--white);
}

nav a,
nav h4 {
    color: var(--light-blue);
}

.logo-underline {
    border-bottom: 5px solid var(--orange);
    margin-bottom: 10px;
}

/* Flashed Messages */
.flashes h4 {
    line-height: 2;
    color: var(--blue);
}

.flashed-container {
    background-color: var(--orange);
}

/* Home Page */
.banner {
    min-width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 8px;
    min-height: 100vh;
}

.banner-row {
    margin-top: 50px;
}

.home-heading {
    font-weight: 900;
    font-size: 70px;
    margin-top: 10px;
}

.home-p {

    padding-bottom: 30px;
    color: var(--black);
    font-size: 30px;
}

#home-featured-btn {
    background-color: var(--blue);
    color: var(--orange);
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 100px;
}

#home-featured-btn:hover {
    background-color: var(--light-blue);
    color: var(--blue);
    border: 1px solid var(--light-blue);
}

.banner-img {
    width: 90%;
}

/* Form - Sing UP Page */
form i {
    color: var(--orange);
}

form i:hover {
    color: var(--blue);
}

/* Properties  */
.card .card-reveal {
    background-color: var(--grey);
}

.card .card-title {
    color: var(--orange);
}

.card-reveal p {
    color: var(--blue)
}

.property-card {
    border-radius: 5px;
}

/* LOG IN PAGE  */
.register-link,
.reminder {
    font-size: 18px;
    font-weight: 700;
}

.register-link {
    color: var(--teal);
    border-bottom: 5px solid var(--orange);
}

.register-link:hover {
    color: var(--orange);
}

/* ADD PROPERTY PAGE  */
.property-header {
    border-radius: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    background-image: url(/static/images/add-property-heading.png);
}

.form-container img,
.property-header img {
    width: 50%;
    padding-top: 30px;
    padding-left: 20px;
}

.property-header h1 {
    font-size: 30px;
}

.add-property-heading {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    background-color: var(--AccentTransparent);
    border-radius: 20px;
    padding-right: 20px;
    color: var(--blue);
}

/* Profile page */
.view-link {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Change Password Button*/
.change-pw-btn,
.change-pw-modal-btn {
    background-color: var(--orange);
    border: 1px solid var(--orange);
    color: var(--blue);
    margin-bottom: 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.change-pw-btn:hover,
.change-pw-modal-btn:hover {
    background-color: var(--light-blue);
    border: 1px solid var(--light-blue);
    color: var(--blue);
}

.change-pw-modal-btn {
    margin-left: 20px;
}

.cancel-pw-modal-button {
    background-color: var(--youtube);
    border: 1px solid var(--youtube);
    color: var(--blue);
    margin-bottom: 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
}

.cancel-pw-modal-button:hover {
    background-color: var(--black);
    color: var(--youtube);
    border: 1px solid var(--black);
}

/* Delete Password Button*/
.delete-p {
    font-size: 18px;
    color: var(--blue);
    font-weight: 700;
    margin: 0px;
    margin-bottom: 10px;
}

.delete-link {
    color: var(--blue);
    border-bottom: 5px solid var(--orange);
    font-weight: 700;
}

/* Modal style*/
#change_password_modal {
    border-radius: 8px;
    background-color: var(--grey);
}

.change-form {
    padding-bottom: 30px;
}

.modal-h {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
}

/* Buttons  */
.sign-up-btn,
.view-btn {
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    background-color: var(--blue);
    color: var(--orange);
    font-weight: 700;
    font-size: 16px;
    margin-top: 30px;
}

.sign-up-btn:hover,
.view-btn:hover,
.add-property-btn:hover,
.add-property-btn:hover {
    background-color: var(--light-blue);
    color: var(--blue);
    cursor: pointer;
    border: 1px solid var(--light-blue);
}

.add-property-btn {
    padding: 18px 20px 20px;
    border-radius: 10px;
    background-color: var(--blue);
    color: var(--orange);
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
}

.cancel-button {
    padding: 18px 20px 20px;
    border-radius: 10px;
    background-color: var(--youtube);
    color: var(--blue);
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
}

.cancel-button:hover {
    background-color: var(--black);
    color: var(--youtube);
}

#search-btn {
    background-color: var(--blue);
    border-radius: 10px;
    color: var(--orange);
    border: 1px solid var(--Orange);
    padding: 12px 10px;
    margin-right: 10px;
    cursor: pointer;
}

#search-btn:hover {
    font-weight: 400;
    background-color: var(--light-blue);
    color: var(--blue);
    border: 1px solid var(--light-blue);
}

#reset-btn {
    padding: 10px;
    background-color: var(--orange);
    color: var(--blue);
    border: 1px solid var(--Orange);
    border-radius: 10px;
}

#reset-btn:hover {
    font-weight: 400;
    background-color: var(--black);
    color: var(--light-blue);
    border: 1px solid var(--light-blue);
}

.add-property-btn {
    padding: 18px 20px 20px;
    border-radius: 10px;
    background-color: var(--blue);
    color: var(--orange);
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    margin-right: 10px;
}

/* Search Properties */
.search-section {
    margin-top: 20px;
    border: 2px rgba(0, 0, 0, 0.1);
}

.button-wrapper {
    margin-top: 16px;
}

.add-property-section {
    margin-bottom: 50px;
}

.input-field .hint-text {
    font-size: 10px;
    color: var(--teal);
    font-style: italic;
}

/* Footer - Social Media  */
.social-media .icon {
    font-size: 20px;
    padding-right: 20px;
}

footer a .fa-youtube.icon {
    color: var(--youtube);
}

footer a .fa-facebook.icon {
    color: var(--facebook);
}

footer a .fa-instagram.icon {
    color: var(--instagram);
}

footer a .fa-twitter.icon {
    color: var(--twitter);
}

footer .copyright {
    color: var(--red)
}