:root {
    --orange: #FCA311;
    /* color: var(--orange); */
    --blue: #14213D;
    /* color: var(--blue); */
    --grey: #E5E5E5;
    /* color: var(--grey); */
    --white: #FFFFFF;
    /* color: var(--white); */
    --black: #000000;
    /* color: var(--black); */
    --youtube: #FF0000;
    /* color: var(--youtube); */
    --facebook: #4267B2;
    /* color: var(--facebook); */
    --instagram: #fbad50;
    /* color: var(--instagram); */
    --twitter: #1DA1F2;
    /* color: var(--twitter); */
}

/* General */
.blue-section {
    background-color: var(--blue);
}

.grey-section {
    background-color: var(--grey);
}

/* Header */
nav ul a {
    font-size: 20px;
}

a.brand-logo {
    font-size: 36px;
}

nav ul a,
a.brand-logo,
ul h4 {
    color: var(--orange);
}

nav ul a:hover {
    color: var(--white);
}

nav a,
nav h4 {
    color: var(--orange);
}

/* Flashed Messages */
.flashes h4 {
    line-height: 2;
    color: var(--blue);
}

.flashed-container {
    background-color: var(--orange);
}

/* Form - Sing UP Page */
form i {
    color: var(--orange);
}

form i:hover {
    color: var(--blue);
}

.sign-up-button {
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    background-color: var(--blue);
    color: var(--orange);
    font-weight: 700;
    font-size: 16px;
    margin-top: 30px;
}

.sign-up-button:hover {
    background-color: var(--orange);
    color: var(--blue);
    cursor: pointer;
}

/* Footer - Social Media  */
.social-media .icon {
    font-size: 20px;
    padding-right: 20px;
}

footer a .fa-youtube.icon {
    color: var(--youtube);
}

footer a .fa-facebook.icon {
    color: var(--facebook);
}

footer a .fa-instagram.icon {
    color: var(--instagram);
}

footer a .fa-twitter.icon {
    color: var(--twitter);
}

footer .copyright {
    color: var(--red)
}