{% extends "base.html" %}
{% block content %}

<!-- Page Header -->
<div class="row parallax-row property-header">
    <div class="col s12 m12 center-align">
        <div class="parallax" id="parallax9"></div>
    </div>
    <div class="col s12 m12">
        <h1 class="center-align add-property-heading">Add strategy.</h1>
    </div>
</div>
<div class="container form-container">
    <div class="row ">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_category') }}">
            <!--Category Name Input -->
            <div class="row field-row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">folder_open</i>
                    <input id="category_name" name="category_name" minlength="3" maxlength="20" type="text" class="validate" required>
                    <label for="category_name">Strategy Name</label>
                    <span class="helper-text" data-error="Type a new category name in 3 - 20 characters" data-success="That sounds cool!">Type a new strategy name in 3 - 20 characters</span>
                </div>
            </div>
            <!-- Form Buttons -->
            <div class="row center-align">
                <div class="col s12 center-align">
                    <!-- Cancel Button -->
                    <a href="{{ url_for('admin_dashboard') }}" class="cancel-button">
                        Cancel
                    </a>
                    <!-- Add Button -->
                    <button type="submit" class="general-btn">
                        Add Strategy
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}