{% extends "base.html" %}
{% block content %}

<!-- Banner Section -->
<div class="container banner">
    <div class="row banner-row">
        <!-- Banner Text-->
        <div class="col s12 m12 l6">
            <h1 class="home-heading">Welcome to Seven Terraces!</h1>
            <p class="home-p"> Where you can source & inveset in properties and make your money work for you for free! </p>
            <a href="#featured-section" class="waves-effect waves-light" id="home-featured-btn">View Featured Properties</a>
        </div>
        <!-- Banner Image -->
        <div class="col s12 m12 l6">
            <div class="triangle-right"></div>
            <img src="{{ url_for('static', filename='images/house_searching.svg') }}" alt="a house" class="banner-img">
            <div class="triangle-left"></div>
        </div>
    </div>
    <!-- Featured Properties Header -->
    <div class="row property-header">
        <div class="col s12 m12 l6">
            <h1 class="center-align add-property-heading">Featured Properties.</h1>
        </div>
        <div class="col s12 m12 l6 center-align">
            <img src="{{ url_for('static', filename='images/add_property.svg') }}" alt="add property">
        </div>
    </div>
    <!-- Property Cards -->
    {% if featured_properties|length > 0 %}
    <div class="row">
        {% for featured_property in featured_properties %}
        <div class="col s12 m6 l3">
            <div class="card sticky-action blue-section property-card">
                <!-- Card Img -->
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ featured_property.featured_img }}">
                </div>
                <!-- Card Category -->
                <div class="card-content">
                    <h4 class="card-title activator">{{ featured_property.category_name }}<i class="fas fa-caret-down right"></i></h4>
                </div>
                <!-- Card Reveal -->
                <div class="card-reveal">
                    <h5 class="card-title">
                        {{ featured_property.featured_name }}<i class="fas fa-xmark right"></i></h5>
                    <p>{{ featured_property.featured_description }}</p>
                    <p>{{ featured_property.featured_added_date }}</p>
                    <p>{{ featured_property.created_by }}</p>
                </div>
                {% if session.user|lower == featured_property.created_by|lower %}
                <!-- Modal Trigger -->
                <a class="waves-effect waves-light btn modal-trigger" href="#modal1{{ property._id }}"><i class="material-icons left"></i>Delete</a>
                <a href="{{ url_for('edit_featured_property', featured_property_id=featured_property._id) }}" class="waves-effect waves-light btn-small model-edit-btn"><i class="material-icons left"></i>Edit</a>
                {% endif %}
                <div id="modal1{{ featured_property._id }}" class="modal">
                    <div class="modal-content delete-property-modal-content">
                        <i class="material-icons delete-icon"></i>
                        <h4>Delete Property</h4>
                        <p>Are you sure you want to <u>delete</u> the proprty? If you delete it, you will no longer can see your property!</p>
                    </div>
                    <div class="modal-btns">
                        <!-- cancel button -->
                        <a href="{{ url_for('get_featured_properties') }}" class="waves-effect waves-light btn modal-cancel-btn">
                            Cancel
                        </a>
                        <!-- submit button -->
                        <a href="{{ url_for('delete_featured_property', featured_property_id=featured_property._id) }}" class="btn modal-delete-btn"><i class="material-icons left"></i>Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h3 class="red-text text-darken-4 centre-align">No results found</h3>
    {% endif %}
</div>

{% endblock %}