{% extends "base.html" %}
{% block content %}

<!-- Banner Section -->
<div class="container banner">
    <div class="row banner-row">
        <!-- Banner Text-->
        <div class="col s12 m12 l6">
            <h1 class="home-heading">Welcome to Seven Terraces!</h1>
            <p class="home-p"> Where you can source & inveset in properties and make your money work for you for free! </p>
            <a href="#featured-section" class="waves-effect waves-light" id="home-featured-btn">View Featured Properties</a>
        </div>
        <!-- Banner Image -->
        <div class="col s12 m12 l6">
            <div class="triangle-right"></div>
            <img src="{{ url_for('static', filename='images/undraw_house_searching.svg') }}" alt="a house" class="banner-img">
            <div class="triangle-left"></div>
        </div>
    </div>
    <!-- Featured Properties Header -->
    <div class="row property-header">
        <div class="col s12 m12 l6">
            <h1 class="center-align add-property-heading">Featured Properties.</h1>
        </div>
        <div class="col s12 m12 l6 center-align">
            <img src="{{ url_for('static', filename='images/undraw_for_sale.svg') }}" alt="add property">
        </div>
    </div>
    <!-- Property Cards -->
    {% if properties|length > 0 %}
    <div class="row" id="featured-section">
        {% for property in properties %}
        <div class="col s12 m6 l3">
            <div class="card sticky-action blue-section property-card">
                <!-- Card Img -->
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ property.img_link }}">
                </div>
                <!--Card Views-->
                <div class="row">
                    <div class="col s6 views">
                        <p>{{ property.views }}
                            <i class="fa-solid fa-eye"></i></p>
                    </div>
                    <div class="col s6">
                        <!-- Save Button -->
                        <!-- Save Button -->
                        <a class="waves-effect waves-light btn-floating right bookmark_btn" href="{{ url_for('bookmark', property_id=property._id) }}" data-resource="{{property._id}}"><i class="material-icons save-icon">bookmark_border</i></a>
                    </div>
                </div>
                <!-- Card Category -->
                <div class="card-content">
                    <h4 class="card-title activator">{{ property.category_name }}<i class="fas fa-caret-down right"></i></h4>
                </div>
                <!-- Card Reveal -->
                <div class="card-reveal">
                    <h5 class="card-title">
                        {{ property.property_name }}<i class="fas fa-xmark right"></i></h5>
                    <span>Description:</span>
                    <p>{{ property.property_description }}</p>
                    <span>Date added:</span>
                    <p>{{ property.property_added_date }}</p>
                    <span>Added by:</span>
                    <p>{{ property.author|capitalize }}</p>
                </div>
                {% if session.user|lower == property.author|lower %}
                <!-- Modal Trigger -->
                <a class="waves-effect waves-light btn-small modal-delete-btn modal-trigger center-align" href="#modal1{{ property._id }}"><i class="material-icons left"></i>Delete</a>
                <a href="{{ url_for('edit_property', property_id=property._id) }}" class="waves-effect waves-light btn-small modal-edit-btn center-align"><i class="material-icons left"></i>Edit</a>
                {% endif %}
                <!-- Modal Structure -->
                <div id="modal1{{ property._id }}" class="modal delete-modal">
                    <div class="modal-content">
                        <i class="material-icons prefix" id="delete-warning-icon">error_outline</i>
                        <h4>Delete Featured Property</h4>
                        <p>Are you sure you want to <u>delete</u> this featured proprty? If you delete it, you will no longer can see your property!</p>
                    </div>
                    <div class="center-align">
                        <!-- cancel button -->
                        <a href="{{ url_for('get_properties') }}" class="waves-effect waves-light btn modal-cancel-btn"><i class="fa-solid fa-ban"></i>
                        </a>
                        <!-- submit button -->
                        <a href="{{ url_for('delete_property', property_id=property._id) }}" class="waves-effect waves-light btn modal-delete-btn"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h3 class="red-text text-darken-4 centre-align">No results found</h3>
    {% endif %}
</div>

{% endblock %}