{% extends "base.html" %}
{% block content %}

<div class="row parallax-row property-header">
    <div class="col s12 m12 center-align">
        <div class="parallax" id="parallax6"></div>
    </div>
    <div class="col s12 m12">
        <h1 class="center-align">Log into my account.</h1>
    </div>
</div>
<div class="container">
    <!-- Form -->
    <div class="row">
        <form class="col s12 m8 offset-m2 sign-in-form" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel white-section">
                <!-- Username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-cog prefix"></i>
                        <input id="username" name="username" type="text" minlength="5" maxlength="50" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username">Username</label>
                        <span class="helper-text" data-error="Your username should be between 5-15 characters" data-success="Awesome!">Type your awesome username you signed up with.</span>
                    </div>
                </div>
                <!-- Password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix"></i>
                        <input id="password" type="password" name="password" minlength="5" maxlength="50" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                        <span class="helper-text" data-error="Type a valid password. It should contain 5-15 characters." data-success="Excellent!">Type your super secret password.</span>
                    </div>
                </div>
                <!-- Button -->
                <div class="row center-align">
                    <div class="col s12">
                        <button type="submit" class="sign-up-btn">Log In<i class="fas fa-sign-in-alt"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <p class=" reminder">New Here?</p>
            <a href="{{ url_for('register') }}" class="register-link">Sign Up Here.</a>
        </div>
    </div>
</div>

{% endblock %}