{% extends "base.html" %}
{% block content %}

<!-- Page Header -->
<div class="container">
    <div class="row property-header">
        <div class="col s12 m12 l6">
            <h1 class="center-align add-property-heading">{{ username|capitalize }}'s profile.</h1>
        </div>
        <div class="col s12 m12 l6 center-align">
            <img src="{{ url_for('static', filename='images/undraw_profile.svg') }}" alt="profile details">
        </div>
    </div>
</div>
<!--Access to the properties and featured properties-->
<div class="container profile-container center-align">
    <div class="row center-align">
        <div class="col s12 m12 l6">
            <!-- Links to properties page-->
            <div class="view-link center">
                <!-- Link to properties page -->
                <a href="{{ url_for('get_properties') }}" class="view-btn">View Properties</a>
            </div>
        </div>
        <div class="col s12 m12 l6">
            <div class="view-link center">
                <!-- Link to featured properties page-->
                <a href="{{ url_for('get_featured_properties') }}" class="view-btn">View Featured Properties</a>
            </div>
        </div>
    </div>
</div>
<!-- Bookmarked Items -->
<div class="container">
    <div class="row center-align bookmark-row">
        <div class="col s12 m12 l12 ">
            <h4 class="saved-properties-h">
                <i class="save-icon material-icons prefix">bookmark_border</i>
                <span class="underline">Saved Properties</span>
            </h4>
            <p class="bookmark-p">Here you will see all the properties you have saved.</p>
        </div>
    </div>
</div>
<!-- Property Cards -->
<div class="container">
    <div class="row">
        {% for property in properties %}
        <div class="col s12 m6 l6">
            <!-- Loop over all of the items-->
            <div class="card sticky-action blue-section property-card">
                <!-- Card Img -->
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ property.img_link }}">
                </div>
                <!--Card Views-->
                <div class="row">
                    <div class="col s6 views">
                        <p>{{ property.views }}
                            <i class="fa-solid fa-eye"></i></p>
                    </div>
                    <div class="col s6">
                        <!-- Save Button -->
                        <a class="btn-floating waves-effect waves-light right" href="{{ url_for('delete_bookmark', property_id=property._id) }}">
                            <i class="material-icons">close</i>
                        </a>
                    </div>
                </div>
                <!-- Card Category -->
                <div class="card-content">
                    <div class="switch">
                        <label>
                            Featured
                            <input class="feature-checkbox" data-property-id="{{ property._id }}" type="checkbox">
                            <span class="lever"></span>
                        </label>
                    </div>
                    <h6 class="card-title activator">{{ property.category_name }}<i class="fas fa-caret-down right"></i>
                    </h6>
                </div>
                <!-- Card Reveal -->
                <div class="card-reveal">
                    <h5 class="card-title">
                        {{ property.property_name }}<i class="fas fa-xmark right"></i></h5>
                    <span>Description:</span>
                    <p>{{ property.property_description }}</p>
                    <span>Date added:</span>
                    <p>{{ property.property_added_date }}</p>
                    <span>Created by:</span>
                    <p>{{ property.author|capitalize }}</p>
                    <div class="col s6 right">
                        <!-- View Property Button -->
                        <a href="{{ url_for('view_property', property_id=property._id) }}" class="waves-effect waves-light btn-small view-property-btn right">View Property</a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Manage Profile -->
<div class="center-align container">
    <div class="row">
        <div class="col s12 m12 l12">
            <!-- Change password -->
            <div>
                <!-- Change password Modal Trigger -->
                <a href="#change_password_modal" class="waves-effect waves-light change-pw-btn modal-trigger"> <i class="material-icons left">lock_outline</i>
                    Change Password
                </a>
                <!-- Change password Modal Structure -->
                <div id="change_password_modal" class="modal">
                    <div class="modal-content">
                        <h4 class="modal-h">Hi {{ username }}! </h4>
                        <p>You can change your password here. <br>
                            Please enter your new password.</p>
                    </div>
                    <form method="POST" action="{{ url_for('change_password', username=session['user']) }}" class="container warning">
                        <div class="row field-row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock_outline</i>
                                <input id="password_change" name="password_change" type="password" class="validate" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                                <label for="password_change">New password</label>
                                <span class="helper-text" data-error="Type a valid password. It should contain 5-15 characters." data-success="Nice!">Choose a new password between 5-15 characters. You can use numbers and letters.</span>
                            </div>
                        </div>
                        <!--Form Buttons -->
                        <div class="center-align">
                            <!-- Cancel Button -->
                            <a href="{{ url_for('profile', username=session['user']) }}" class="waves-effect waves-light btn modal-cancel-btn">
                                <i class="fa-solid fa-ban"></i>
                            </a>
                            <!-- Submit Button -->
                            <button type="submit" class="btn modal-delete-btn" aria-label="Change Password">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete account -->
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="center-align">
                <p class="delete-p">Don’t want access to your profile?</p>
                <!-- Delete account Modal Trigger -->
                <p class="delete-p"><a class="modal-trigger delete-link redirect-p" href="#deletemodal">Click here to delete your profile.</a></p>
                <!-- Delete account Modal Structure -->
                <div id="deletemodal" class="modal delete-modal">
                    <div class="modal-content">
                        <i class="material-icons prefix" id="delete-warning-icon">error_outline</i>
                        <h4 class="modal-h">Hi {{ username }}! </h4>
                        <p class="delete-modal-p">You are about to <u>delete</u> your account! Are you sure you would like to continue?</p>
                    </div>
                    <form method="POST" action="{{ url_for('delete_account', user_id=username) }}" class="warning container">
                        <div class="row field-row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock_outline</i>
                                <input id="confirm_to_delete" name="confirm_to_delete" type="password" class="validate" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                                <label for="confirm_to_delete">Confirm Your Password</label>
                            </div>
                        </div>
                        <!--Form Buttons -->
                        <div class="center-align">
                            <!-- Cancel Button -->
                            <a href="{{ url_for('profile', username=session['user']) }}" class="btn modal-cancel-btn"><i class="fa-solid fa-ban"></i>
                            </a>
                            <!-- Submit Button -->
                            <button type="submit" class="btn modal-delete-btn" aria-label="Delete account"><i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}