{% extends "base.html" %}
{% block content %}

<div class="container">
    <!-- Page Header -->
    <div class="row property-header">
        <div class="col s12 m12 l6">
            <h1 class="center-align add-resource-heading">Search Properties</h1>
        </div>
        <div class="col s12 m12 l6 center-align">
            <img src="{{ url_for('static', filename='images/buy_house.svg') }}" alt="buy property">
        </div>
    </div>
    <!-- Property Cards -->
    <div class="row">
        <div class="col s12 m6 l3">
            <div class="card sticky-action hoverable blue-section property-card">
                <span>
                    <a class="btn-floating right" data-resource="{{properties._id}}"><i class="fa-solid fa-bookmark"></i></a>
                </span>
                {% for property in properties %}
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ property.property_link }}">
                </div>
                <div class="card-content">
                    <h4 class="card-title activator">{{ property.category_name }}<i class="fas fa-caret-down right"></i></h4>
                </div>
                <div class="card-reveal">
                    <h5 class="card-title">{{ property.property_name }}<i class="fas fa-xmark right"></i></h5>
                    <p>{{ property.property_description }}</p>
                    <p>{{ property.property_added_date }}</p>
                    <p>{{ property.created_by }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col s12 m66 13 right-align">
                <!-- Modal Trigger -->
                <a class="waves-effect waves-light btn modal-trigger" href="{{ property._id }}"><i class="material-icons left">delete_outline</i>Delete</a>
                <!-- Modal Structure -->
                <div id="{{ property._id }}" class="modal">
                    <div class="modal-content delete-property-modal-content">
                        <i class="material-icons delete-icon">delete_outline</i>
                        <h4>Delete Property</h4>
                        <p>Are you sure you want to <u>delete</u> the proprty? If you delete it, you will no longer can see your property!</p>
                    </div>
                    <div class="modal-btns">
                        <!-- cancel button -->
                        <a href="{{ url_for('get_properties') }}" class="waves-effect waves-light btn modal-cancel-btn">
                            Cancel
                        </a>
                        <!-- submit button -->
                        <a href="{{ url_for('delete_property', property_id=property._id) }}" class="btn modal-delete-btn"><i class="material-icons left">delete_outline</i>Delete</a>
                    </div>
                </div>
                <!-- Edit Btn-->
                <a href="{{ url_for('edit_property', property_id=property._id) }}" class="waves-effect waves-light btn-small model-edit-btn"><i class="material-icons left">edit_note</i>Edit</a>
            </div>
        </div>
    </div>

    {% endblock %}