{% extends "base.html" %}
{% block content %}

<div class="container">
    <!-- Page Header -->
    <div class="row property-header">
        <div class="col s12 m6 l6">
            <h1 class="center-align add-property-heading">Search Properties.</h1>
        </div>
        <div class="col s12 m12 l6 center-align">
            <img src="{{ url_for('static', filename='images/undraw_buy_house.svg') }}" alt="property image">
        </div>
    </div>
    <!-- Search Form & Buttons-->
    <div class="container center-align">
        <div class="row">
            <form action="{{ url_for('search') }}" method="post" class="col s12">
                <div class="row search-section">
                    <!-- Search Input-->
                    <div class="input-field col s12 m8 left-align">
                        <i class="material-icons prefix">search</i>
                        <input type="text" name="query" id="query" class="validate" minlength="2" required>
                        <label class="form-label search-label" for="query">Search Properties</label>
                        <span class="helper-text">Search properties by type.</span>
                    </div>
                    <!-- Buttons-->
                    <div class="col s12 m4 button-wrapper">
                        <button type="submit" id="search-btn">
                            Search
                        </button>
                        <a href="{{ url_for('get_properties') }}" id="reset-btn">Reset</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Add property Button-->
    <div class="row">
        <div class="center-align add-property-section">
            <a href="{{ url_for('add_property') }}" class="add-property-btn center-align"><i class="fa-solid fa-circle-plus"></i>Add Property</a>
        </div>
    </div>
    <!-- Property Cards -->
    {% if properties|length > 0 %}
    <div class="row">
        {% for property in properties %}
        <div class="col s12 m6 l6">
            <div class="card sticky-action blue-section property-card">
                <!-- Card Img -->
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ property.img_link }}">
                </div>
                <!--Card Views-->
                <div class="row">
                    <div class="col s6 views">
                        <p>{{ property.views }}
                            <i class="fa-solid fa-eye"></i></p>
                    </div>
                    <div class="col s6 right">
                        <!-- Save Button -->
                        <a class="waves-effect waves-light btn-floating right bookmark_btn {%if property.bookmarked%}bookmarked{% endif %}" data-resource="{{property._id}}"><i class="material-icons save-icon">bookmark_border</i></a>
                    </div>
                </div>
                <!-- Card Category -->
                <div class="card-content">
                    <div class="switch">
                        <label>
                            Featured
                            <input class="feature-checkbox" data-property-id="{{ property._id }}" type="checkbox">
                            <span class="lever"></span>
                        </label>
                    </div>
                    <h6 class="card-title activator">{{ property.category_name }}<i class="fas fa-caret-down right"></i>
                    </h6>
                </div>
                <!-- Card Reveal -->
                <div class="card-reveal">
                    <h5 class="card-title">
                        {{ property.property_name }}<i class="fas fa-xmark right"></i></h5>
                    <span>Description:</span>
                    <p>{{ property.property_description }}</p>
                    <span>Date added:</span>
                    <p>{{ property.property_added_date }}</p>
                    <span>Created by:</span>
                    <p>{{ property.author|capitalize }}</p>
                    <div class="col s6 right">
                        <!-- View Property Button -->
                        <a href="{{ url_for('view_property', property_id=property._id) }}" class="waves-effect waves-light btn-small view-property-btn right">View Property</a>
                        </a>
                    </div>
                </div>
                {% if session.user|lower == property.author|lower %}
                <!-- Modal Trigger -->
                <a class="waves-effect waves-light btn-small modal-delete-btn modal-trigger center-align" href="#modal1{{ property._id }}"><i class="material-icons left"></i>Delete</a>
                <a href="{{ url_for('edit_property', property_id=property._id) }}" class="waves-effect waves-light btn-small modal-edit-btn center-align"><i class=" material-icons left"></i>Edit</a>
                {% endif %}
                <!-- Modal Structure -->
                <div id="modal1{{ property._id }}" class="modal delete-modal">
                    <div class="modal-content">
                        <i class="material-icons prefix" id="delete-warning-icon">error_outline</i>
                        <h3>Delete Property</h3>
                        <p>Are you sure you want to <u>delete</u> the proprty? If you delete it, you will no longer can
                            see your property!</p>
                    </div>
                    <div class="center-align">
                        <!-- cancel button -->
                        <a href="{{ url_for('get_properties') }}" class="waves-effect waves-light btn modal-cancel-btn"><i class="fa-solid fa-ban"></i>
                        </a>
                        <!-- submit button -->
                        <a href="{{ url_for('delete_property', property_id=property._id) }}" class="waves-effect waves-light btn modal-delete-btn"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h3 class="red-text text-darken-4 centre-align">No results found</h3>
    {% endif %}
</div>

{% endblock %}