{% extends "base.html" %}
{% block content %}


<!-- Page Header -->
<div class="row property-header">
    <div class="col s12 m12 center-align">
        <div class="parallax" id="parallax7"></div>
    </div>
    <div class="col s12 m12">
        <h1 class="center-align add-property-heading">Sign up for free.</h1>
    </div>
</div>
<!-- Form -->
<div class="row">
    <form class="col s12 m8 offset-m2 sign-up-form" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel grey-section">
            <!-- Username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-plus prefix"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15" patern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- Password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix"></i>
                    <input id="password" type="password" name="password" minlength="5" maxlength="15" patern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- Button -->
            <div class="row center-align">
                <div class="col s12">
                    <button type="submit" class="sign-up-btn">Sign Up<i class="fas fa-sign-in-alt"></i></button>
                </div>
            </div>
    </form>
</div>
<div class="row">
    <div class="col s12 center-align">
        <p class=" reminder">Already have an account?</p>
        <a href="{{ url_for('login') }}" class="register-link">Log In Here.</a>
    </div>
</div>

{% endblock %}